<div class="card ticket-plan">
    <div class="card-header ticket-header">
      {{ name }}
    </div>
    <div class="card-body d-flex flex-column">
      <h6 class="card-subtitle mb-2 text-muted">{{ description }}</h6>      
      <hr/>
      <h6 *ngIf="!hasItems" class="card-subtitle mb-2 text-muted"> No items available</h6>
      <div *ngIf="loaded">
        <h6 *ngIf="!ticketPrice.hasDiscount" class="card-subtitle mb-2 text-muted">Price: {{ ticketPrice?.basePrice }} din</h6>
        <h6 *ngIf="ticketPrice.hasDiscount" class="card-subtitle mb-2 text-muted">
          Price: <del> ({{ ticketPrice?.basePrice }}) </del>
          {{ ticketPrice?.discountPrice }} din <sup> {{ ticketPrice?.discountRate*100 }}% off</sup>
        </h6>
      </div>   
      <div id="paypal-button-container-{{ id }}"></div> 
      <!-- <button 
        class="btn btn-outline-primary mt-auto"
        [disabled]="!hasItems"
        (click)="onBuy()">
        Buy ticket
      </button> -->
    </div>
  </div>