<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <nav class="navbar  navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">
      <img src="assets/img/bus.png" height="40" width="40" />
       City Transit
    </span>
  </nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-home"></i> Home</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/timetables']" routerLinkActive="active"><i class="fas fa-clock"></i> Timetables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="routesButton" [routerLink]="['/routes']" routerLinkActive="active"><i class="fas fa-map-marked-alt"></i> Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="routesButton" [routerLink]="['/tickets']" routerLinkActive="active"><i class="fas fa-ticket-alt"></i> Tickets</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"> Login</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active"> Register</a>
        </li>
        <li *ngIf="loggedIn && isAdmin" class="nav-item">
          <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active"><i class="fas fa-user-shield"></i> Admin Panel</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active"><i class="fas fa-user-circle"></i> Profile</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
      </ul> 
    </form>
  </div>
</nav>
<br><br>

<router-outlet></router-outlet>

<ngx-snackbar [max]="4"></ngx-snackbar>




