<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-ticket 
        [dbName]="'SingleUse'"
        [name]="'Single-Use ticket'"
        [description]="'Get to your destination faster.'">
      </app-ticket>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-ticket
        [dbName]="'Daily'"
        [name]="'Daily ticket'" 
        [description]="'This one is ideal for turists. Enjoy our city!'">
      </app-ticket>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-ticket 
        [dbName]="'Monthly'" 
        [name]="'Monthly ticket'" 
        [description]="'Are you a student? Get this one!'">
      </app-ticket>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <app-ticket 
        [dbName]="'Annual'" 
        [name]="'Annual ticket'" 
        [description]="'If you live in our city, this one is for you.'">
      </app-ticket>
    </div>

  </div>
</div>