<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        User Documents        
      </h3>
      <hr><br>
  
      <h5 *ngIf="!documents?.length">Sorry, there are no unverified user documents</h5>
  
      <table class="table table-hover" *ngIf="documents?.length">
        <thead class="thead-dark full-width">
          <tr>
            <th class="center-block text-center" scope="col">Name</th>
            <th class="center-block text-center" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onClick(doc.documentImageUrl)" *ngFor="let doc of documents">
            <th scope="row" class="center-block text-center"> {{ doc.firstName }} {{ doc.lastName }}</th>
            <td class="center-block text-center">
              <div class="btn-group btn-group-sm float-right" role="group">
                <button type="button" class="btn btn-info left-border" (click)="onVerify(doc.userId)"><i class="fas fa-check"></i></button>
                <button type="button" class="btn btn-danger left-border" (click)="onReject(doc.userId)"><i class="fas fa-ban"></i></button>
              </div>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col-sm-12">
      <app-document [imagePath]="imagePath"></app-document>
    </div>    
  </div>
</div>
