<div class="container">
  <h2>Ticket Validation</h2>
  <div class="row mb-5">
    <form autocomplete="off" [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="form-inline">
      <div class="form-group">
        <input type="text" formControlName="ticketId" class="form-control mb-2 mr-sm-2" id="ticketId" autocomplete="off"
          placeholder="Ticket ID" required>
      </div>

      <button type="submit" class="btn btn-primary mb-2" [disabled]="!ticketForm.valid">
        <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Validate
      </button>
    </form>
  </div>

  <div *ngIf="validated" class="row">
    <div *ngIf="!error">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-12 col-md-12">
          <div *ngIf="ticketInfo?.isValid" class="p-3 mb-2 bg-success text-white">Ticket is valid</div>
          <div *ngIf="!ticketInfo?.isValid" class="p-3 mb-2 bg-danger text-white">Ticket is invalid</div>
        </div>
        <div class="col-sm-12 col-md-12" *ngIf="hasUser">
          <p class="lead">User: {{ ticketInfo?.userFirstName }} {{ ticketInfo?.userLastName }}</p>
        </div>
        <div class="col-sm-12 col-md-12">
          <p class="lead">Ticket type: {{ ticketInfo?.ticketType }}</p>
        </div>
        <div class="col-sm-12 col-md-12">
          <p class="lead">Time of Purchase: {{ ticketInfo?.timeOfPurchase | date:'dd/MM/yyyy HH:mm:ss'}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="error">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="col-sm-12 col-md-12">
          <div class="p-3 mb-2 bg-danger text-white">Ticket is invalid. It doesn't exist.</div>
        </div>
      </div>
    </div>
  </div>
</div>