<div class="container">
  
  <div class="row">
    <div class="col-sm-12">
      <h3>
        Stations
        <button [routerLink]="['add']" class="btn btn-success float-right">Add station</button>
      </h3>
      <hr><br>
  
      <h5 *ngIf="!stations?.length">Sorry, there are no stations</h5>
  
      <table class="table table-hover" *ngIf="stations?.length">
        <thead class="thead-dark full-width">
          <tr>
            <th class="center-block text-center" scope="col">Name</th>
            <th class="center-block text-center" scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr [routerLink]="[station.Id]" *ngFor="let station of stations">
            <th scope="row" class="center-block text-center"> {{ station.Name }}</th>
            <td class="center-block text-center">
              {{ station.Address }}
              <div class="btn-group btn-group-sm float-right" role="group">
                <button type="button" class="btn btn-info left-border" [routerLink]="['edit', station.Id]" *ngIf="isAdmin"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-danger left-border" (click)="onDelete(station.Id)" *ngIf="isAdmin"><i class="fas fa-trash-alt"></i></button>
              </div>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>    
  </div>

</div>
