<div class="container">
  <div class="row">

    <div class="col-sm">
      <h3>Bus Lines <button *ngIf="addAllowed" type="button" class="btn btn-success float-right" [routerLink]="['/buslines/add']">Add new bus line</button></h3>
      
      <hr>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr [routerLink]="[busLine.Id]" *ngFor="let busLine of busLines">
            <th scope="row"> {{ busLine.Name }}</th>
            <td>{{ busLine.Description }}</td>
          </tr>          
        </tbody>
      </table>
    </div>   

    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>