<div class="container">
  <div class="row">

    <div class="col-sm">
      <h3>Bus Lines <button *ngIf="isAdmin" type="button" class="btn btn-success float-right" [routerLink]="['/buslines/add']">Add new bus line</button></h3>
      
      <hr>

      <h5 *ngIf="!busLines?.length">Sorry, there are no bus lines currently</h5>

      <table class="table table-hover" *ngIf="busLines?.length">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let busLine of busLines">
            <th scope="row" class="center-block text-center"> {{ busLine.Name }}</th>
            <td class="center-block text-center">{{ busLine.Description }}</td>
            <td class="center-block text-center">
              <div class="btn-group btn-group-sm" role="group" >
                <button type="button" class="btn btn-info" [routerLink]="[busLine.Id]">Details</button>
                <button type="button" class="btn btn-info" [routerLink]="['edit', busLine.Id]" *ngIf="isAdmin">Edit</button>
                <button type="button" class="btn btn-danger" (click)="onDelete(busLine.Id)" *ngIf="isAdmin">Delete</button>
              </div>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>   
    
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>