<div class="container">
  <div class="col-sm">
    <h3>Bus Lines
      <button type="button" *ngIf="!showFilters" (click)="onShowFilters()" class="btn btn-primary float-right">Filter</button>
      <button type="button" *ngIf="showFilters" class="btn btn-primary float-right" (click)="onClearFilters()" >Clear filters</button>
    </h3>
    
    <div *ngIf="showFilters">
      <hr>
      <div class="form-group">
        <select id="busLineTypeSelect" class="form-control" (change)="onChange($event.target.value)">
          <option *ngFor="let blt of busLineTypes" [value]="blt._id"> {{ blt.name }}</option>               
        </select>
      </div>
    </div>

    <hr>

    <h5 *ngIf="!busLines?.length">Sorry, there are no bus lines</h5>

    <table class="table table-hover" *ngIf="busLines?.length">
      <thead class="thead-dark full-width">
        <tr>
          <th class="center-block text-center" scope="col">Name</th>
          <th class="center-block text-center" scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onBusLineClick(busLine._id)" *ngFor="let busLine of busLines">
          <th scope="row" class="center-block text-center"> {{ busLine.name }}</th>
          <td class="center-block text-center">
            {{ busLine.description }}
            <div class="btn-group btn-group-sm float-right" role="group">
              <button type="button" class="btn btn-info" *ngIf="isBuyTicket && !isAdmin"><i class="fas fa-ticket-alt"></i></button>
              <button type="button" class="btn btn-info" [routerLink]="['edit', busLine._id]" *ngIf="isAdmin"><i class="fas fa-pen"></i></button>
              <button type="button" class="btn btn-danger left-border" (click)="onDelete(busLine._id)" *ngIf="isAdmin"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>          
      </tbody>
    </table>
  </div>
</div>
