<form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" formControlName="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" autocomplete="off" placeholder="First name" required>
  </div>
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" formControlName="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" autocomplete="off" placeholder="Last name" required>
    </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" autocomplete="off" placeholder="Enter email" required >
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" formControlName="address" class="form-control" id="address" autocomplete="off" placeholder="Address" required>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="text" class="form-control" name="birthday" value="31/01/1997"/>
  </div>
  <div class="form-group">
    <label for="genderSelect">Gender</label>
    <select id="genderSelect" class="form-control" formControlName="gender" required>
      <option *ngFor="let g of genders; let i = index" [value]="i"> {{ g }}</option>               
    </select>
  </div>
  <div class="form-group" *ngIf="canChangeUserType">
    <label for="userTypeSelect">User Type</label>
    <select id="userTypeSelect" class="form-control" formControlName="userTypeId" required>
      <option *ngFor="let ut of userTypes" [value]="ut.Id"> {{ ut.Name }}</option>               
    </select>
  </div>
  
  <br><hr>
  
  <button type="submit" class="btn btn-primary btn-block" [disabled]="!profileForm.valid">
    <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Edit
    </button>
</form>